version: "3.3"

services:
  piwigo:
    build:
      context: ./docker/piwigo
      dockerfile: Dockerfile
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
    volumes:
      - ./docker/piwigo/config:/config
      - ~/media/pictures/piwigo:/gallery
    ports:
      - 7080:80
      - 7443:443 
    restart: unless-stopped
    depends_on:
      - mariadb

  mariadb:
    build:
      context: ./docker/mariadb
      dockerfile: Dockerfile
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
      - MYSQL_ROOT_PASSWORD=piwigo_root
      - MYSQL_DATABASE=piwigo_db
      - MYSQL_USER=piwigo #optional
      - MYSQL_PASSWORD=piwigo #optional
    volumes:
      - ./docker/mariadb/config:/config  
    restart: unless-stopped
