version: "3"
services:
  piwigo:
    build:
      context: ./docker/piwigo
      dockerfile: Dockerfile
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
    volumes:
      - ./docker/piwigo/config:/config
      - ./docker/piwigo/gallery:/gallery
    ports:
      - 9087:80
      - 9043:443
    restart: unless-stopped

  mariadb:
    build:
      context: ./docker/mariadb
      dockerfile: Dockerfile
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
      - MYSQL_ROOT_PASSWORD=ROOT_ACCESS_PASSWORD
      - MYSQL_DATABASE=USER_DB_NAME #optional
      - MYSQL_USER=MYSQL_USER #optional
      - MYSQL_PASSWORD=DATABASE_PASSWORD #optional
    volumes:
      - ./docker/mariadb/config:/config
    ports:
      - 3306:3306
    restart: unless-stopped
